
server {
    listen 444;
    # server_name www.sitename.dev sitename.dev;
    charset utf-8;

    ssl_certificate /etc/phpmyadmin/cert.crt;
    ssl_certificate_key /etc/phpmyadmin/cert.key;

    ssl on;
    ssl_session_cache  builtin:1000  shared:SSL:10m;
    ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers HIGH:!aNULL:!eNULL:!EXPORT:!CAMELLIA:!DES:!MD5:!PSK:!RC4;
    ssl_prefer_server_ciphers on;

    access_log /var/log/nginx/phpmyadmin.access.log;
    error_log /var/log/nginx/phpmyadmin.error.log;

    root /usr/share/phpmyadmin;
    index index.html index.php;

    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }

    location ~ \.php$ {
        # Defines a regular expression that captures a value for the $fastcgi_path_info variable.
        # The regular expression should have two captures: the first becomes a value of the
        # $fastcgi_script_name variable, the second becomes a value of the $fastcgi_path_info variable.
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        fastcgi_pass unix:{{ mariadb_phpmyadmin_phpsock }};
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_intercept_errors off;

        include /etc/nginx/fastcgi_params;

        try_files $uri =404; # This is not needed if you have cgi.fix_pathinfo = 0 in php.ini (you should!)
    }
}
